@charset "UTF-8";

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

:root{
--verdeescuro: #053E28;
--verdeclaro: #60B242;
--verdeletras: #003C25;
}

header{
background-color: rgba(0, 128, 0, 0.205);
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 0.5vh;
padding-bottom: 0.5vh;
}

header div img{
    width: 120px;
    height: 60px;
    padding: 0px;
}
.links{
padding-top: 20px;
}
.links a{
margin: 15px;
text-decoration: none;
color: var(--verdeletras);
font-size: 20px;
}
.links a:hover{
    margin: 15px;
    color: var(--verdeletras);
    color: #60B242;
    border-bottom: solid 1px #60B242;
    }

.sobrecontainer{
background-image: url(imagens/Slide1.JPG);
background-size: cover;
background-position: center center;
padding-top: 31.5vh;
padding-bottom: 31.5vh;
height: 92vh;
display: block;
}

.sobrelist{
padding-top: 50px;
padding-bottom: 50px;
padding-left: 25px;
padding-right: 25px;
color: white;
}
.sobreitem1{
    font-size: 45px;
}
.sobreitem2{
    font-size: 25px;
}


.servicos{
    background-image: url(imagens/Slide2.JPG);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: none;
    color: white;
}
.servicostitulo{
    font-size: 45px;
    margin-bottom: 10px;
}
.servicoscontainer{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: white;
    font-size: 21px;
}
.servicositem{
margin-bottom: 15px;
}

.misvisval{
    background-image: url(imagens/Slide3.JPG);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: none;
    color: white;
}
.misvisvalitem{
    margin-bottom: 10px;
    font-size: 45px;
}
.misvisvalitems{
    margin-bottom: 15px;
    font-size: 25px;
}
.misvisvalcontainer{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: white;
    margin-top: 60px;
}
footer section{
    background-color: rgba(0, 128, 0, 0);
    color: var(--verdeletras);
    text-align: center;
}
footer{
background-color: rgba(0, 128, 0, 0.205);
display: flex;
align-items: center;
}